.header {
    position: fixed;
    width: 100vw;
    background-color: var(--cor-segundaria);
    z-index: 1;
}

.header .container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.header .container .logo {
    width: 150px;
    padding: 10px;
}

.header .container .logo .imagem-logo {
    width: 100%;
    height: 100%;
}

.header .container nav ul {
    display: flex;
    font-size: 2rem;
    gap: 30px;
    align-items: center;
}

.header .container nav ul li a {
    margin: 5px;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
    color: var(--cor-padrao);
    position: relative;
}

.header .container nav ul li a:hover {
    color: var( --cor-de-destaque-site);
}

.header .container nav ul li a::before {
    transition: 0.2s ease-in-out;
    z-index: 1;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--cor-de-destaque-site);
    height: 2px;
}
.header .container nav ul li a:hover::before {
    width: 100%;

}

.header .container nav ul .menu.ativo a {
    color: var( --cor-de-destaque-site);
}

.header .container nav ul .menu.ativo a::before {
    transition: 0.2s ease-in-out;
    z-index: 1;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--cor-de-destaque-site);
    height: 2px;
}



.header .container nav ul .menu-servicos {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.header .container nav ul .menu-servicos .titulo {
    position: relative;

}

.header .container nav ul .menu-servicos .titulo::after,
.header .container nav ul .menu-servicos .titulo:hover::after,
.header .container nav ul .menu-servicos.ativo .titulo::after {
    content: '';
    background: url(../img/Seta_low.png) center no-repeat;
    background-size: contain;
    transition: 0.4s ease-in-out;
    width: 20%;
    height: 70%;
}

.header .container nav ul .menu-servicos.ativo .titulo::after {
    position: absolute;
}

.header .container nav ul .menu-servicos .titulo:hover::after {
    position: absolute;
    transform: rotate(180deg);
}

.header .container nav ul .menu-servicos .servicos {
    background-color: var(--cor-segundaria);
    display: flex;
    top: 66px;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.header .container nav ul .menu.ativo .servicos a::before {
    width: 0;
}

.header .container nav ul .menu.menu-servicos.ativo .servicos {
    height: 246px;
    border-radius: 0 0 20px 20px;
}

.header .container nav ul .menu-servicos .servicos a {
    margin-bottom: 20px;
}

.header .container nav ul .menu-servicos.ativo .servicos a {
    color: #ffffff;
}

.header .container nav ul .menu-servicos.ativo .servicos a:hover {
    color: var( --cor-de-destaque-site);
}

/* ---------- Menu hamburguer -------------*/

.header .container .menu-hamburguer {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header .container nav label {
    display: flex;
    flex-direction: column;
}

.header .container .hamburguer {
    background-color: var(--cor-padrao);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 12px;
    transition: 0.5s ease-in-out;
}

.header .container .menu-hamburguer .hamburguer::before,
.header .container .menu-hamburguer .hamburguer::after {
    content: '';
    background-color: var(--cor-padrao);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .container .hamburguer::before{
    top: -10px;
}
.header .container .hamburguer::after{
    bottom: -10px;
}

.header .container input {
    display: none;
}

.header .container input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.header .container input:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

.header .container input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}
.header .container #whatsapp {
    position: fixed;
    color: var(--cor-padrao);
    font-size: 4rem;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    padding: 15px;
    background-color: #02e12e;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s ease-in-out;
    z-index: 2;
}

.header .container #whatsapp:hover {
    color: #02e12e;
    background-color: var(--cor-padrao);
}

@media(max-width: 1020px) {

    .header .container nav ul .menu-servicos .titulo::after,
    .header .container nav ul .menu-servicos .titulo:hover::after,
    .header .container nav ul .menu-servicos.ativo .titulo::after{
        top: 10px;
    }

    .header .container nav ul .menu-servicos .servicos a:last-child::before{
        transition: 0.2s ease-in-out;
        z-index: 1;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--cor-de-destaque-site);
        height: 2px;
    }
    .header .container nav ul .menu.menu-servicos.ativo .servicos {
        height: 340px;
    }
    .header .container nav ul .menu-servicos .servicos{
        position: static;
        
    }
    .header .container .menu-hamburguer {
        display: block;
    }

    .header .container nav ul {
        display: none;
    }

    .header .container input:checked ~ ul{
        display: block;
    }

    .header .container nav{
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
        
    }
    .header .container nav ul {
        width: 200px;
        background-color: var(--cor-segundaria);
        padding: 20px;
        border-radius: 0 0 30px 30px;
    }

    .header .container nav ul .menu a{
        display: block;
        text-align: center;
        padding: 20px;
    }
}